# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/Debug/Recondo.Tests.exe
/Debug/Recondo.Tests.ilk
/Debug/Recondo.Tests.pdb
/Debug/Recondo.exe
/Debug/Recondo.exp
/Debug/Recondo.ilk
/Debug/Recondo.lib
/Debug/Recondo.pdb
/Debug/test.txt
/Debug/tinyxml2.exe
/Debug/tinyxml2.ilk
/Debug/tinyxml2.pdb
/Recondo.Tests/Debug/CL.read.1.tlog
/Recondo.Tests/Debug/CL.write.1.tlog
/Recondo.Tests/Debug/Recondo.Tests.exe.intermediate.manifest
/Recondo.Tests/Debug/Recondo.Tests.lastbuildstate
/Recondo.Tests/Debug/Recondo.Tests.write.1.tlog
/Recondo.Tests/Debug/SuperMemo2Test.obj
/Recondo.Tests/Debug/cl.command.1.tlog
/Recondo.Tests/Debug/link.command.1.tlog
/Recondo.Tests/Debug/link.read.1.tlog
/Recondo.Tests/Debug/link.write.1.tlog
/Recondo.Tests/Debug/mt.command.1.tlog
/Recondo.Tests/Debug/mt.read.1.tlog
/Recondo.Tests/Debug/mt.write.1.tlog
/Recondo.Tests/Debug/program.obj
/Recondo.Tests/Debug/vc100.idb
/Recondo.Tests/Debug/vc100.pdb
/Recondo/Debug/AppSettings.obj
/Recondo/Debug/CL.read.1.tlog
/Recondo/Debug/CL.write.1.tlog
/Recondo/Debug/Item.obj
/Recondo/Debug/ItemTest.obj
/Recondo/Debug/Recondo.exe.intermediate.manifest
/Recondo/Debug/Recondo.lastbuildstate
/Recondo/Debug/Recondo.vcxprojResolveAssemblyReference.cache
/Recondo/Debug/Recondo.write.1.tlog
/Recondo/Debug/SuperMemo2.obj
/Recondo/Debug/SuperMemo2Test.obj
/Recondo/Debug/SuperMemo4.obj
/Recondo/Debug/TxtLoader.obj
/Recondo/Debug/cl.command.1.tlog
/Recondo/Debug/link.command.1.tlog
/Recondo/Debug/link.read.1.tlog
/Recondo/Debug/link.write.1.tlog
/Recondo/Debug/mt.command.1.tlog
/Recondo/Debug/mt.read.1.tlog
/Recondo/Debug/mt.write.1.tlog
/Recondo/Debug/program.obj
/Recondo/Debug/varianceGirl.bmp
/Recondo/Debug/vc100.idb
/Recondo/Debug/vc100.pdb
/RecondoUI/Debug/CourseEditPresenter.obj
/RecondoUI/Debug/CourseEditUI.obj
/RecondoUI/Debug/moc_CourseEditUI.obj
/TinyXML2/tinyxml2/Debug/CL.read.1.tlog
/TinyXML2/tinyxml2/Debug/CL.write.1.tlog
/TinyXML2/tinyxml2/Debug/cl.command.1.tlog
/TinyXML2/tinyxml2/Debug/link-cvtres.read.1.tlog
/TinyXML2/tinyxml2/Debug/link-cvtres.write.1.tlog
/TinyXML2/tinyxml2/Debug/link.7560-cvtres.read.1.tlog
/TinyXML2/tinyxml2/Debug/link.7560-cvtres.write.1.tlog
/TinyXML2/tinyxml2/Debug/link.7560.read.1.tlog
/TinyXML2/tinyxml2/Debug/link.7560.write.1.tlog
/TinyXML2/tinyxml2/Debug/link.command.1.tlog
/TinyXML2/tinyxml2/Debug/link.read.1.tlog
/TinyXML2/tinyxml2/Debug/link.write.1.tlog
/TinyXML2/tinyxml2/Debug/mt.command.1.tlog
/TinyXML2/tinyxml2/Debug/mt.read.1.tlog
/TinyXML2/tinyxml2/Debug/mt.write.1.tlog
/TinyXML2/tinyxml2/Debug/rc.command.1.tlog
/TinyXML2/tinyxml2/Debug/rc.read.1.tlog
/TinyXML2/tinyxml2/Debug/rc.write.1.tlog
/TinyXML2/tinyxml2/Debug/tinyxml2.Build.CppClean.log
/TinyXML2/tinyxml2/Debug/tinyxml2.exe.embed.manifest
/TinyXML2/tinyxml2/Debug/tinyxml2.exe.embed.manifest.res
/TinyXML2/tinyxml2/Debug/tinyxml2.exe.intermediate.manifest
/TinyXML2/tinyxml2/Debug/tinyxml2.lastbuildstate
/TinyXML2/tinyxml2/Debug/tinyxml2.log
/TinyXML2/tinyxml2/Debug/tinyxml2.obj
/TinyXML2/tinyxml2/Debug/tinyxml2.vcxprojResolveAssemblyReference.cache
/TinyXML2/tinyxml2/Debug/tinyxml2_manifest.rc
/TinyXML2/tinyxml2/Debug/vc100.idb
/TinyXML2/tinyxml2/Debug/vc100.pdb
/TinyXML2/tinyxml2/Debug/xmltest.obj
/Win32/Debug/RecondoUI.exe
/Win32/Debug/RecondoUI.exp
/Win32/Debug/RecondoUI.ilk
/Win32/Debug/RecondoUI.lib
/Win32/Debug/RecondoUI.pdb
/Win32/Debug/currentCourse.cur
/_ReSharper.Recondo/AspFileDataCache.dat
/_ReSharper.Recondo/AssemblyInfoCache.dat
/_ReSharper.Recondo/BuildScriptCache/.crc
/_ReSharper.Recondo/BuildScriptCache/.version
/_ReSharper.Recondo/ConditionalNames/.crc
/_ReSharper.Recondo/ConditionalNames/.version
/_ReSharper.Recondo/ConditionalNames/2/710203bb.dat
/_ReSharper.Recondo/GeneratedFiles/.crc
/_ReSharper.Recondo/GeneratedFiles/.version
/_ReSharper.Recondo/GeneratedFiles/0/245f222d.dat
/_ReSharper.Recondo/JSTest/.crc
/_ReSharper.Recondo/JSTest/.version
/_ReSharper.Recondo/JavaScriptCache/.crc
/_ReSharper.Recondo/JavaScriptCache/.version
/_ReSharper.Recondo/MVC/.crc
/_ReSharper.Recondo/MVC/.version
/_ReSharper.Recondo/NamedArguments/.crc
/_ReSharper.Recondo/NamedArguments/.version
/_ReSharper.Recondo/NamedArguments/7/6a208f48.dat
/_ReSharper.Recondo/Pdb/d5ba5686d0f52fde0daf1756e638ce6e9e7cac93
/_ReSharper.Recondo/Pdb/e939e02134a0cc0c0c270b17f26b773a4ef5e571
/_ReSharper.Recondo/Pdb/ef21d7020bcdbb3af85abb373e9b7019110dd032
/_ReSharper.Recondo/PersistentCaches/000029.sst
/_ReSharper.Recondo/PersistentCaches/000031.sst
/_ReSharper.Recondo/PersistentCaches/000034.sst
/_ReSharper.Recondo/PersistentCaches/000035.log
/_ReSharper.Recondo/PersistentCaches/CURRENT
/_ReSharper.Recondo/PersistentCaches/LOCK
/_ReSharper.Recondo/PersistentCaches/LOG
/_ReSharper.Recondo/PersistentCaches/LOG.old
/_ReSharper.Recondo/PersistentCaches/MANIFEST-000033
/_ReSharper.Recondo/ProjectFileDataCache/ResourceDefaultLanguagePropertyProvider.cache.dat
/_ReSharper.Recondo/ProjectFileDataCache/ShouldUseHostCompilerProvider.cache.dat
/_ReSharper.Recondo/RecentItems/RecentFiles.dat
/_ReSharper.Recondo/Resources/.crc
/_ReSharper.Recondo/Resources/.version
/_ReSharper.Recondo/SymbolCache.bin
/_ReSharper.Recondo/TagPrefixes/.crc
/_ReSharper.Recondo/TagPrefixes/.version
/_ReSharper.Recondo/WebSymbols/.crc
/_ReSharper.Recondo/WebSymbols/.version
/_ReSharper.Recondo/XmlIndex/System.4.0.0.0.Contracts.xml/9DCFFED5.bin
/_ReSharper.Recondo/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/93108325.bin
/_ReSharper.Recondo/XmlIndex/System.4.0.0.0.Pure.xml/7C4CD7E6.bin
/_ReSharper.Recondo/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/3D712C95.bin
/_ReSharper.Recondo/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/A7E8ACE5.bin
/_ReSharper.Recondo/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/B18D4E26.bin
/_ReSharper.Recondo/XmlIndex/System.Configuration.xml/092A1070.bin
/_ReSharper.Recondo/XmlIndex/System.Core.4.0.0.0.Contracts.xml/B470AF75.bin
/_ReSharper.Recondo/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/2BE8DB85.bin
/_ReSharper.Recondo/XmlIndex/System.Core.4.0.0.0.Pure.xml/70473D06.bin
/_ReSharper.Recondo/XmlIndex/System.Core.LinqTunnel.xml/DC2C01E2.bin
/_ReSharper.Recondo/XmlIndex/System.Core.Nullness.Manual.xml/840981B4.bin
/_ReSharper.Recondo/XmlIndex/System.Core.Pure.Manual.xml/E1FED7D6.bin
/_ReSharper.Recondo/XmlIndex/System.Core.xml/11686E5B.bin
/_ReSharper.Recondo/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/8FCE8945.bin
/_ReSharper.Recondo/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
/_ReSharper.Recondo/XmlIndex/System.I18n.xml/5B278F5E.bin
/_ReSharper.Recondo/XmlIndex/System.Nullness.Manual.xml/A4E225D4.bin
/_ReSharper.Recondo/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0917EF05.bin
/_ReSharper.Recondo/XmlIndex/System.Numerics.xml/F65D6778.bin
/_ReSharper.Recondo/XmlIndex/System.Security.4.0.0.0.Contracts.xml/642F8175.bin
/_ReSharper.Recondo/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/1C73ED85.bin
/_ReSharper.Recondo/XmlIndex/System.Security.4.0.0.0.Pure.xml/66FACF06.bin
/_ReSharper.Recondo/XmlIndex/System.Security.xml/55841E76.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/BD8E5935.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/FC42DB45.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.4.0.0.0.Pure.xml/1C612E46.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.Attributes.xml/6BFCF35F.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.I18n.xml/16989EBE.bin
/_ReSharper.Recondo/XmlIndex/System.Xml.xml/48B5EA79.bin
/_ReSharper.Recondo/XmlIndex/System.xml/083CE63E.bin
/_ReSharper.Recondo/XmlIndex/System.xml/C3B3EEEE.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/8991B9D5.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/A19B3A1D.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/FFF49E25.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.4.0.0.0.Pure.xml/4E4DB2E6.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.I18n.xml/337D6A5E.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.Nullness.Manual.xml/AEF920D4.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.Pure.Manual.xml/8F252876.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.ValueFlow.xml/063EC469.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.xml/71BDE13E.bin
/_ReSharper.Recondo/XmlIndex/mscorlib.xml/743ADB6C.bin
/ipch/recondoui-b3d5e2a1/recondoui-987802d4.ipch